@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url('./moon.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.dashboard-container {
  background-color: rgba(255, 255, 255, 0.06);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  max-width: 900px;
  width: 100%;
}

.dashboard-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.dashboard-container p {
  font-size: 18px;
  margin-bottom: 30px;
}

.card-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.123);
}

.card h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  color: #ddd;
}

.logout {
  margin-top: 40px;
}

.logout-link {
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}

.logout-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  transform: scale(1.05);
}